<div class="container">
  <!-- <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div> -->
  <div class="lesson">
    <section class="col-xs-1"></section>
    <section class="video col-xs-5"><iframe src="https://www.youtube.com/embed/4J2rdLm5Z0k" frameborder="0" allowfullscreen></iframe>
    </section>
    <section class="notes col-xs-5">
      <h3>Space Avengers</h3><p>Good job! Now the problem with basic functions is that you can only use them once. There are three alien invaders so we need to continue to move right and shoot three times.
      <p>How are you going to do that? With a while-true loop! </p>
      <p>Let's start with using a while-true loop to move the Space Avenger to the right.</p>
      <p>Have fun, and keep coding!</p>
    </section>
    <section class="col-xs-1"></section>
    <p class="col-md-12"><a href="#/spaceGame2"><button class="next btn">Game On</button></a></p>
  </div>
  <!-- <div class="col-md-12">
    <message-board></message-board>
  </div> -->
</div>
