<div class="container">
  <!-- <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div> -->
  <div class="lesson">
    <section class="col-xs-1"></section>
    <section class="video col-xs-5"><iframe src="https://www.youtube.com/embed/4J2rdLm5Z0k" frameborder="0" allowfullscreen></iframe>
    </section>
    <section class="notes col-xs-5">
      <h3>Space Avenger</h3><p>Good job, Code Champion! You just learned about for loops! In Lesson 2, we are going to discover more complex for loops.</p>
      <p>In this lesson, we are going to space! You're going to program a Space Avenger to blast the alien invaders.</p>
      <p>In order for the Space Avenger to beat the aliens, you are going to make some basic functions that will work together to defeat the alien invaders.</p>
      <p>Just to refresh your memory, a for loop is best used in situations where you know you want to perform a specific number of cycles in HTML.</p>
      <p>Here's an example: <br>
        for (variable=startvalue; variable<=endvalue; variable=variable+incrementfactor) <br>
        {<br>
        // Here goes the script lines you want to loop.<br>
      }</p>
      <p>Enter a variablename where it says variable.<br>
      Enter the startvalue of the loop where it says startvalue.<br>
      Enter the endvalue of the loop where it says endvalue.<br>
      Enter the factor each loop should increment where it says incrementfactor.
      </p>
      <p></p>
      <p>Have fun, and keep coding!</p>
    </section>
    <section class="col-xs-1"></section>
    <p class="col-md-12"><a href="#/spaceGame3"><button class="next btn">Game On</button></a></p>
  </div>
  <!-- <div class="col-md-12">
    <message-board></message-board>
  </div> -->
</div>
