<div class="container">
  <!-- <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div> -->
  <div class="lesson">
    <section class="col-xs-1"></section>
    <section class="video col-xs-5"><iframe src="https://www.youtube.com/embed/4J2rdLm5Z0k" frameborder="0" allowfullscreen></iframe>
    </section>
    <section class="notes col-xs-5">
      <h3>Space Avenger</h3><p>Good job, Code Champion! You're on your way to becoming a great programmer!</p>
      <p>In Lesson 3, we are going to discover if/else statements.</p>
      <p>Sometimes JavaScript requires the ability to make distinctions between different possibilities. This is when an if/else statement will come in handy.</p>
      <p>The general syntax for if statements is:</p>
      <blockquote>if (condition) {action1} else {action2};</blockquote>
      <p>Part 1 will cover basic if statments. Use the if statement to specify a block of JavaScript code to be executed if a condition is true.</p>
      <h4>Example</h4>
      <p>Make a "Good day" greeting if the hour is less than 18:00:</p>

      <blockquote>if (hour < 18) {<br>
          greeting = "Good day";<br>
      }</blockquote>
      <p>The result of greeting will be:</p>

    <blockquote>Good day</blockquote>
      <p>Let's put these new skills to use. Let's go to space!</p>
      <p>Have fun, and keep coding!</p>
    </section>
    <section class="col-xs-1"></section>
    <p class="col-md-12"><a href="#/spaceGame1"><button class="next btn">Game On</button></a></p>
  </div>
  <!-- <div class="col-md-12">
    <message-board></message-board>
  </div> -->
</div>
