<div class="container">
  <!-- <div ng-controller="UserController as userCtrl">
    <header-direct logout="userCtrl.logout()"></header-direct>
  </div> -->
  <div class="lesson">
    <section class="col-xs-1"></section>
    <section class="video col-xs-5"><iframe src="https://www.youtube.com/embed/4J2rdLm5Z0k" frameborder="0" allowfullscreen></iframe>
    </section>
    <section class="notes col-xs-5">
      <h3>Space Avenger</h3><p>Good job, Code Champion! You just learned about for loops! In Lesson 2, we are going to discover while loops.</p>
      <p>In this lesson, we are going to space! You're going to program a Space Avenger to blast the alien invaders.</p>
      <p>In order for the Space Avenger to beat the aliens, you are going to make some basic functions that will work together to defeat them.</p>
      <p>Code normally execudes in the order it's written. Loops allow you to repeat a block of code multiple times without having to re-type it.</p>
      <p>First, we start a loop with the while keyword. This tells your program WHILE something is true, repeat the body of the loop.</p>
      <p>For now we want our loops to continue forever, so we'll use a while-true loop. Because true is always true!</p>
      <p><blockquote>// Start the while-true loop with <br>
        while(true) {<br>
        // Anything between the { and } is considered INSIDE the loop.<br>
            &nbsp;&nbsp;this.moveRight();<br>
            &nbsp;&nbsp;this.moveLeft();<br>
      } </blockquote></p>
      <p>In this game, each level will need different functions in the while-true loop to defeat the alien invaders.</p>
      <p>Have fun, and keep coding!</p>
    </section>
    <section class="col-xs-1"></section>
    <p class="col-md-12"><a href="#/spaceGame1"><button class="next btn">Game On</button></a></p>
  </div>
  <!-- <div class="col-md-12">
    <message-board></message-board>
  </div> -->
</div>
